.home {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 1200px) {
  .home {
    justify-content: flex-start;
  }
}

@media (max-width: 980px) {
  .home {
    justify-content: center;
  }
}
