.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

.post__topInfo > h3 {
    font-size: medium;
}

.post__topInfo > p {
    margin-top: 4px;
    font-size: 14px;
    color: gray;
    font-style: italic;
}

.post__change {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #65676b;
}

.post__change > .MuiSvgIcon-root {
    cursor: pointer;
    padding: 0 4px;
}

.post__change:hover {
    background-color: #eff2f5;
    border-radius: 999px;
}

.change__options {
    position: absolute;
    top: 40px;
    right: 2px;
    z-index: 1;

    background-color: #ffffff;
    box-shadow: -2px 2px 8px 1px rgb(207, 205, 205);

    border-radius: 10px;

    min-width: 200px;
}

.change__option {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
}

.post__remove::before{
    content: '';
    background-color: white;

    width: 10px;
    height: 15px;

    position: absolute;
    transform: rotate(140deg);
    top: -8px;
    right: 8px;
    
}


.comment__remove::before {
    content: '';
    background-color: white;

    width: 10px;
    height: 15px;

    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(140deg);
}

.change__option:hover {
    background-color: #eff2f5;
}

.change__option > .MuiSvgIcon-root {
    margin-right: 20px;
}

.change__option > p {
    white-space: nowrap;
}

.post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__image > img {
    width: 100%;
    margin-bottom: -5px;
}

.changeOptions{
    background-color: black;
    color: white;

    border-radius: 10px;
    opacity: 0.7;
    padding: 4px 10px;

    position: absolute;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);

    display: none;

}

.changeOptions > p{
    white-space: nowrap;
}

.post__change:hover > .changeOptions {
    display: block;
}

.post__options {

    border-top: 1px solid lightgray;

    display: flex;
    justify-content: space-evenly;

    font-size: medium;
    color: gray;
    cursor: pointer;
    
    padding: 15px;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post__option > p {
    margin-left: 10px;
}

.post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.option--active {
    color: #2e81f4;
}

.options__count {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.wrapOptions{
    display: flex;
}

.options__count--unDisplay {
    display: none;
}

.option__count {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.option__count > p {
    margin-left: 10px;
}

.like__count > .MuiSvgIcon-root {
    font-size: 1rem;

    padding: 4px;

    border-radius: 999px;
    color: #ffffff;
    background-color: #2e81f4;
}

.share__count:hover, .comment__count:hover {
    text-decoration: underline;
}

.like__count:hover > .like__showUser,
.share__count:hover > .share__showUser
{
    display: block;
}

.like__showUser, .share__showUser {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    background-color: black;
    font-size: 14px;
    
    padding: 8px 14px;
    border-radius: 6px;
  
    display: none;
    min-width: 120px;
    opacity: 0.7;
    z-index: 100;
}

.share__count > .share__showUser{
    right: 0;
}

.like__showUser > h2 {
    font-size: 16px;
    margin-bottom: 4px;
}

.post__comments{
    padding: 0 20px 20px;
}

.post__comments > form > button{
    display: none;
}

.post__comments > form > input{
    flex: 1;
}

.post__comment {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.comment__content {
    padding: 10px;
    border-radius: 20px;

    background-color: #eff2f5;

    margin-left: 10px;
    max-width: 85%;
    white-space: wrap;
}

.comment__content > h2{
    font-size: 14px;
}

.comment__content > p {
    word-break: break-word;
}

.comment__content > span{
    font-size: 12px;
    color: gray;
}

.comment__content > h2:hover{
    cursor: pointer;
    text-decoration: underline;
}

.comment__change {
    position: relative;
    align-self: center;
    margin-left: 10px;
    color: #65676b;
    border-radius: 999px;
    padding: 0 4px;
    
}

.comment__change > .MuiSvgIcon-root {
    visibility: hidden;
}

.post__comment:hover > .comment__change > .MuiSvgIcon-root{
    visibility: visible;
}

.comment__change:hover {
    background-color: #eff2f5;
}

.commentOptions{
    background-color: black;
    color: white;

    border-radius: 10px;
    opacity: 0.7;
    padding: 4px 10px;

    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);

    display: none;

}

.comment__options {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    background-color: #ffffff;
    box-shadow: -2px 2px 8px 1px rgb(207, 205, 205);

    border-radius: 10px;

    min-width: 200px;

}

.commentOptions > p{
    white-space: nowrap;
}

.comment__change:hover > .commentOptions {
    display: block;
}

.MuiAvatar-root, .MuiSvgIcon-root {
    cursor: pointer;
}


@media (max-width: 400px) {

    .post__close{
        right: 0;
        top: 5px;
    }
    .post__option > p {
        font-size: 14px;
    }
    .post__option > .MuiSvgIcon-root {
        font-size: 16px;
    }

    .post__topInfo > h3 {
        font-size: 16px;
    }

    .post__topInfo > p {
        font-size: 12px;
    }

    .post__bottom > p {
        font-size: 14px;
    }
}