.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

.post__topInfo > h3 {
    font-size: medium;
}

.post__topInfo > p {
    margin-top: 4px;
    font-size: 14px;
    color: gray;
    font-style: italic;
}

.post__close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 8px;
    color: #65676b;
    cursor: pointer;
}

.post__close:hover {
    background-color: #eff2f5;
    border-radius: 999px;
}

.post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__image > img {
    width: 100%;
    margin-bottom: -5px;
}

.post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post__option > p {
    margin-left: 10px;
}

.post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.option--active {
    color: #2e81f4;
}

.options__count {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.options__count--unDisplay {
    display: none;
}

.option__count {
    display: flex;
}

.option__count > p {
    margin-left: 10px;
}
.like__count > .MuiSvgIcon-root {
    font-size: 1rem;

    padding: 4px;

    border-radius: 999px;
    color: #ffffff;
    background-color: #2e81f4;
}

@media (max-width: 400px) {

    .post__close{
        right: 0;
        top: 5px;
    }
    .post__option > p {
        font-size: 14px;
    }
    .post__option > .MuiSvgIcon-root {
        font-size: 16px;
    }

    .post__topInfo > h3 {
        font-size: 16px;
    }

    .post__topInfo > p {
        font-size: 12px;
    }

    .post__bottom > p {
        font-size: 14px;
    }
}