.friendSuggest {
  display: flex;
  flex-direction: column;
  width: 197px;
  height: 360px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-top: 10px;
  transition: transform 100ms ease-in;
}

.friendSuggest:hover {
  transform: scale(1.07);
}

.friendSuggest > img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
}

.friendSuggest__title {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.friendSuggest__title > h4 {
  font-weight: 600;
  cursor: pointer;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.friendSuggest__title > h4:hover {
  text-decoration: underline;
}

.friendSuggest__title > .MuiButton-root {
  border-radius: 6px;
  margin: 8px 0;
  font-size: 16px;
  font-weight: 600;
}

.friendSuggest__title > .MuiButton-root:hover {
  opacity: 0.7;
}

.friendSuggest__title > .MuiButton-root:nth-child(2) {
  color: #1877f2;
  background-color: #e0e8f0;
}

.friendSuggest__title > .MuiButton-root:last-child {
  color: black;
  background-color: #e4e6eb;
}

@media (max-width: 500px) {
  .friendSuggest {
    width: 120px;
    height: 260px;
  }

  .friendSuggest__title > .MuiButton-root {
    font-size: 12px;
  }

  .friendSuggest__title {
    padding: 6px;
  }
}
