.searchSideBar{
    width: 360px;
    background-color: white;
    box-shadow: 5px 0px 8px -9px 
    rgba(0, 0, 0, 0.75);
    height: 100vh;
    position: fixed;
    left: 0;
}

.searchSideBar__header {
    margin: 0 10px;
    border-bottom: 1px solid rgb(192, 190, 190);
}

.searchSideBar__header > h2{
    font-size: 24px;
    padding: 20px 0;
}

.searchSideBar__body{
    margin-top: 20px;
}

.searchSideBar__body > h2 {
    font-size: 18px;
    margin: 20px 10px;
}

.searchSideBar__type {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(228, 215, 215);
    cursor: pointer;
}
.searchSideBar__type > .MuiSvgIcon-root{
    margin: 10px;
    color: white;
    background-color: rgb(53, 53, 233);
    padding: 4px;
    border-radius: 999px;
}

@media (max-width: 800px) {
    .searchSideBar{
        display: none;
    }
}