.login {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.login__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__wrapper > .login__logo {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.login__logo > h1 {
    font-size: 46px;
    font-weight: 700;
    color: #0e3264;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.login__button {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login__button > button {
    width: 85%;
    min-width: 220px;
    max-width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    margin: 20px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.login__button > button:nth-child(1) {
    background-color: red;
}

.login__button > .MuiButton-root:nth-child(3):hover {
    background-color: #2e81f4;
}

.login__button > span {
    color: gray ;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.login__button > button > .MuiSvgIcon-root {
    font-size: 30px;
    padding: 6px 0;
}

.login__button > button > p {
    margin-left: 10px;
    padding-top: 5px;
}

#button__divider {
    display: block;
    position: relative;
    border-top: 0.1rem solid #a8a6a6;
    height: 0.1rem;
    margin: 2rem 0;
    text-align: center;
    width: 100%;
    max-width: 300px;
    min-width: 220px;
    width: 85%;
}

#button__divider::after {
    background: #f1f2f5;
    color: #7a7a7a;
    content: "OR";
    display: inline-block;
    font-size: 20px;
    padding: 0.4rem 0.8rem;
    -webkit-transform: translateY(-1.1rem);
    transform: translateY(-1.4rem);
    text-align: center;
    font-weight: 700;
}


@media (max-width: 600px) {

    .login__wrapper > button {
        font-size: 16px;
    }

}
